<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>News App</title>
    <link rel="stylesheet" href="css/style.css">
    <nav>
    <div class="container">
      <a href ="/"><h1>News App</h1></a>
      <p>A better way to view all news articles</p>
      <form id="searchForm">
        <input type="text" name="search" placeholder="search" value="search"/><input type="submit" value="Submit" />
      </form>
    </div>
    <div><a href ="/trending">Trending</a></div>
    <div><a href ="/list">My List</a></div>
    </nav>
  </head>
  <body>

    {{{ body }}}

  </body>
</html>