<h2>Articles to Read</h2>
<p>Here are the articles you have added to your list:</p>
{{#each user.favoriteArticles}}
<div class ="listview">
<h3><strong><a href = "{{url}}">{{title}}</a></strong></h3>
<p>{{description}}</p> 
<img class="listimage" src = "{{urlToImage}}" />
</div>
{{/ each}}