<h2>Articles to Read</h2>
<p>Add more articles or remove ones you've already read</p>
{{#each user.favoriteArticles}}
	<div>
	<h3><strong><a href = "{{url}}">{{title}}</a></strong></h3> 
</div>
<img class="listimage" src = "{{urlToImage}}" />
<p>{{description}}</p>
{{/ each}}